.container {
    background-color: rgb(36, 53, 63);
}

body {
    background-color: rgb(36, 53, 63);
}

.container h1 {
    color: rgb(20, 161, 183);
}

.group {
    background-color: rgb(36, 53, 63);
}

input {
    background: transparent !important;
    color: white !important;
}

::placeholder {
    color: white !important;
}